
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
         url('<%= @cocktail.photo %>')">
</div>

<div class="container col-6 mt-5">
<h1>Add an ingredient to <%= @cocktail.name %></h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.association :ingredient %>
<%= f.input :description %>
<%= f.submit "add ingredient", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "back to #{@cocktail.name}", cocktail_path(@cocktail), class: "btn btn-secondary my-3" %></p>

</div>
